div {
    font-family: Arial;
    border-style: dotted;
  }
  
  .container {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
    border-style: dotted;

  }
  
  .inbox-label {
    font-size: 14px;
    color: rgb(120, 120, 120);
    margin-bottom: 20px;
    border-style: dotted;

  }
  
  .email {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    border-style: dotted;

  }
  
  .containers {
    margin-right: 10px;
    border-style: dotted;

  }
  
  .pic {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
    border-style: dotted;

  }
  
  .email-content {
    border-style: dotted;

    flex: 1;
  }
  
  .email-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
    border-style: dotted;

  }
  
  .name {
    font-size: 18px;
    font-weight: bold;
    border-style: dotted;

  }
  
  .time {
    font-size: 14px;
    color: rgb(120, 120, 120);
    border-style: dotted;

  }
  
  .sub {
    font-weight: bold;
    margin-bottom: 5px;
    border-style: dotted;

  }
  
  .msg {
    border-style: dotted;

    color: rgb(120, 120, 120);
  }