div {
    font-family: Arial;
  }
  
  .tweet {
    display: flex;
    flex-direction: row;
    width: 420px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .profile-picture-column {
    margin-right: 10px;
  }
  
  .pic {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px;
  }
  
  .tweet-column {
    flex: 1;
  }
  
  .th {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
  }
  
  .ta {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .tah {
    color: rgb(111, 111, 111);
  }
  
  .tweet-content {
    line-height: 20px;
    margin-bottom: 15px;
  }
  
  .video-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    border-radius: 15px;
    overflow: hidden;
    border-style: dotted ;

  }
  
  .thumbnail-column {
    width: 100px;
    height: 100px;
    background-color: rgb(220, 220, 220);
    margin-right: 10px;
    border-style: dotted ;
  }
  
  .video-info {
    flex: 1;
    border-style: dotted ;


  }
  
  .videosite {
    color: rgb(111, 111, 111);
    margin-bottom: 10px;
    border-style: dotted ;

  }
  
  .video title {
    line-height: 22px;
  }